$primaire:#9356DC;
$primaire-opacity2:rgba(147, 86, 220, 0.2);
$secondaire:#FF79DA;
$tertiaire:#99E2D0;
$color-font-footer:white;
$grey-dark:rgba(0, 0, 0, 0.788);
$grey-light:rgba(241, 240, 240, 0.719);

@font-face{
    font-family: "font-title";
    src: url("polices/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face{
    font-family: "font-text";
    src: url("polices/Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family: "font-bold";
    src: url("polices/Roboto/Roboto-Bold.ttf");
}
@font-face{
    font-family: "font-light";
    src: url("polices/Roboto/Roboto-Light.ttf");
}
@font-face{
    font-family: "font-thin";
    src: url("polices/Roboto/Roboto-Thin.ttf");
}

@font-face{
    font-family: "mfont-title";
    src: url("../polices/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face{
    font-family: "mfont-text";
    src: url("../polices/Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family: "mfont-bold";
    src: url("../polices/Roboto/Roboto-Bold.ttf");
}
@font-face{
    font-family: "mfont-light";
    src: url("../polices/Roboto/Roboto-Light.ttf");
}
@font-face{
    font-family: "mfont-thin";
    src: url("../polices/Roboto/Roboto-Thin.ttf");
}