/*  ANNIMATION DE REMPLISSAGE DU COEUR */
@keyframes rempl {
    0% {
        transform: scale(0.3);
    }
    100% {
        transform: scale(1);
    }
}

/* SURVOL DES BOUTONS */
@mixin hoverbut {
    opacity: 0.8;
            box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.637);
}


/* MIXINS DE LA PAGE D'ACCUEIL */
@mixin case {
            background-color: $grey-light;
            border-radius: 25px;
            box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.123);
            font-weight: 800;
            padding: 25px 10px 25px 30px;
            margin-left: 25px;
            margin-right: 15px;
            margin-bottom: 25px;
            i{
                color: rgba(0, 0, 0, 0.705);
                padding-right: 25px;
                font-size: 20px;
            }
}
@mixin num {
    color: white;
            font-size: 14px;
            text-align: center;
            background-color: $primaire;
            padding: 3px;
            width: 17px;
            border-radius: 20px;
            position: absolute;
            top: 25px;
            left: 14px;
}
@mixin title-home {
    font-family: "font-bold";
    font-size: 22px;
    padding-top: 40px;
    padding-left: 20px;
}
@mixin vignette {
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 20px;
        box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.233);
        position: relative;
        img{
            width: 100%;
            height: 200px;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
            object-position: 50% 80%;
        }
        .gras{
            font-family: "font-bold";
            margin-left: 20px;
        }
        .thin{
            font-family: "font-thin";
            margin-left: 20px;
            margin-top: -12px;
            padding-bottom: 10px;
        }
        i{
            position: absolute;
            right: 30px;
            bottom: 20px;
            font-size: 25px;
        }
        .lock:hover #lock,
        .lock #unlock {
        display: none;
        background: -webkit-gradient(linear, left top, left bottom, from($primaire), to($secondaire));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
        .lock:hover #unlock {
        animation: rempl 2s ease-in-out 0s forwards;
        transform-origin: center;
        display: inline;
        }
        &:hover{
            opacity: 0.5;
            box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.938);
        }
}

/* MIXINS DES MENUS */
@mixin headermenu { /* header et banner */
    body{
        font-family: "mfont-light";
        margin: 0;
        padding: 0;
        }
    
    header{
        font-family: "mfont-title", Arial, Helvetica, sans-serif;
        font-size: 30px;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
        position: relative;
        i{
            color: $grey-dark;
            font-size: 25px;
            position: absolute;
            left: 15px;
            top: 15px;
        }
    }
    .banner{
        z-index: 1;
        img{
        width: 100%;
        object-fit: cover;
        }
        &__m2{
            height: 400px;
        }
    }
}

@mixin titlemenu { /* titre du menu */
    
    border: 1px solid transparent;
    font-family: "mfont-title", Arial, Helvetica, sans-serif;
    font-size: 26px;
    padding-left: 20px;

    .lock{
        text-decoration: none;
        color: black;
        position: relative;
        padding-left: 30px;
        i{
            position: absolute;
            top: 5px;
            left: 37px;
        }
    }
    .lock:hover #lock,
    .lock #unlock {
    display: none;
    background: -webkit-gradient(linear, left top, left bottom, from($primaire), to($secondaire));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    .lock:hover #unlock {
    animation: rempl 2s ease-in-out 0s forwards;
    transform-origin: center;
    display: inline;
    }
}

@mixin titlemaj { /* entrees plats desserts */
    font-family: "mfont-thin";
            border-bottom: 2px solid $tertiaire;
            padding-bottom: 5px;
            width: 50px;
}

@mixin thumb { /* vignettes */
    display: flex;
            margin-top: 15px;
            overflow: hidden;
            cursor: pointer;
            border-radius: 20px;
            opacity: 0;
            animation: opac 2s ease-in-out forwards;
           &__txt {
               padding-top: 4px;
            flex-grow: 1;
            width: 40px;
            background: white;
            padding-left: 5px;
           
            p,
            h4 {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              margin: 8px;
            }
            h4{
                font-family: "mfont-bold";
                
            }
          }
          .price {
            width: 30px;
            background:white;
            margin: 0;
            padding-right: 10px;
            padding-top: 22px;
            padding-bottom: 0;
            font-family: "mfont-bold";
          }
          .box {
            display: flex;
            width: 0;
            transition: all 1s;
            background-color: #99E2D0;
           
            &__check {
              margin: auto;
              color: white;
              border-radius: 50%;
              font-size: 25px;
              background-color: #99E2D0;
              transition: transform 1s;
              transform: rotate(180deg);
            }
          }
            &:hover > .box {
              width: 80px;
              .box__check {
                transform: rotate(0deg);
              }
            }
    
}
@mixin order{ /* bouton commander */
    display: flex;
  justify-content: center;
  background-color: #F2F2F2;;
    &__btn{
      margin-top: 15px;
      margin-bottom: 50px;
      border: 0;
      border-radius: 30px;
      padding: 15px 50px 15px 50px;
      background: linear-gradient(to bottom right,$secondaire, $primaire);
      box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.233);
      color: white;
  }
  button:hover{
    @include hoverbut;
}
}

/* MIXIN DU FOOTER */
@mixin foot {
    background-color: $grey-dark;
    color: $color-font-footer;
    padding: 10px 20px 20px 25px;
    &__title{
    font-family: "mfont-title";
    font-size: 18px;
  }
  &__parag{
      line-height: 28px;
      a{
        text-decoration: none;
        color: white;
        }
  }
  i{
      padding-right: 10px;
  }
}