@keyframes rempl {
    0% {
        transform: scale(0.3);
    }
    100% {
        transform: scale(1);
    }
}

@mixin case {
            background-color: $grey-light;
            border-radius: 25px;
            box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.123);
            font-weight: 800;
            padding: 25px 10px 25px 30px;
            margin-left: 25px;
            margin-right: 15px;
            margin-bottom: 25px;
            i{
                color: rgba(0, 0, 0, 0.705);
                padding-right: 25px;
                font-size: 20px;
            }
}
@mixin num {
    color: white;
            font-size: 14px;
            text-align: center;
            background-color: $primaire;
            padding: 3px;
            width: 17px;
            border-radius: 20px;
            position: absolute;
            top: 25px;
            left: 14px;
}
@mixin titre-home {
    font-family: "font-bold";
    font-size: 22px;
    padding-top: 40px;
    padding-left: 20px;
}
@mixin vignette {
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 20px;
        box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.233);
        position: relative;
        img{
            width: 100%;
            height: 200px;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
            object-position: 50% 80%;
        }
        .gras{
            font-family: "font-bold";
            margin-left: 20px;
        }
        .thin{
            font-family: "font-thin";
            margin-left: 20px;
            margin-top: -12px;
            padding-bottom: 10px;
        }
        i{
            position: absolute;
            right: 30px;
            bottom: 20px;
            font-size: 25px;
        }
        .lock:hover #lock1,
        .lock #unlock1 {
        display: none;
        background: -webkit-gradient(linear, left top, left bottom, from($primaire), to($secondaire));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
        .lock:hover #unlock1 {
        animation: rempl 2s ease-in-out 0s forwards;
        transform-origin: center;
        display: inline;
        }
        &:hover{
            opacity: 0.5;
            box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.938);
        }
}

@mixin hoverbut {
    opacity: 0.8;
            box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.637);
}

@mixin foot {
    background-color: $grey-dark;
    color: $color-font-footer;
    padding: 10px 20px 20px 25px;
    &__titre{
    font-family: "font-title";
    font-size: 18px;
  }
  &__parag{
      line-height: 28px;
      a{
        text-decoration: none;
        color: white;
        }
  }
  i{
      padding-right: 10px;
  }
}

@mixin thumb {
    display: flex;
            margin-top: 15px;
            overflow: hidden;
            cursor: pointer;
            border-radius: 20px;
            opacity: 0;
            animation: opac 2s ease-in-out forwards;
           &__txt {
               padding-top: 4px;
            flex-grow: 1;
            width: 40px;
            background: white;
            padding-left: 5px;
           
            p,
            h4 {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              margin: 8px;
            }
            h4{
                font-family: "font-bold";
                
            }
          }
          .prix {
            width: 30px;
            background:white;
            margin: 0;
            padding-right: 10px;
            padding-top: 22px;
            padding-bottom: 0;
            font-family: "font-bold";
          }
          .box {
            display: flex;
            width: 0;
            transition: all 1s;
            background-color: #99E2D0;
           
            &__check {
              margin: auto;
              color: white;
              border-radius: 50%;
              font-size: 25px;
              background-color: #99E2D0;
              transition: transform 1s;
              transform: rotate(180deg);
            }
          }
            &:hover > .box {
              width: 80px;
              .box__check {
                transform: rotate(0deg);
              }
            }
    
}