@font-face {
  font-family: "font-title";
  src: url("polices/Shrikhand/Shrikhand-Regular.ttf"); }
@font-face {
  font-family: "font-text";
  src: url("polices/Roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: "font-bold";
  src: url("polices/Roboto/Roboto-Bold.ttf"); }
@font-face {
  font-family: "font-light";
  src: url("polices/Roboto/Roboto-Light.ttf"); }
@font-face {
  font-family: "font-thin";
  src: url("polices/Roboto/Roboto-Thin.ttf"); }
@font-face {
  font-family: "mfont-title";
  src: url("../polices/Shrikhand/Shrikhand-Regular.ttf"); }
@font-face {
  font-family: "mfont-text";
  src: url("../polices/Roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: "mfont-bold";
  src: url("../polices/Roboto/Roboto-Bold.ttf"); }
@font-face {
  font-family: "mfont-light";
  src: url("../polices/Roboto/Roboto-Light.ttf"); }
@font-face {
  font-family: "mfont-thin";
  src: url("../polices/Roboto/Roboto-Thin.ttf"); }
@media only screen and (min-width: 768px) {
  body header {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px; }

  .operation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .operation__title {
      width: 100%;
      margin-top: 0px;
      padding-bottom: 20px; }
    .operation div {
      width: 250px; }

  .restau__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
  .restau__title {
    width: 90%; }
  .restau article {
    width: 340px;
    margin: 40px;
    margin-bottom: 50px; }

  .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around; }
    .menu__title {
      width: 100%; }
      .menu__title p {
        width: 100%; }
    .menu__starter {
      width: 345px;
      padding-top: 30px; }
    .menu__dish {
      width: 345px; }
    .menu__dessert {
      width: 345px; }

  .banner {
    height: 500px; }
    .banner img {
      width: 100%;
      height: 100%;
      object-position: 50% 50%; }
    .banner__menuNote img {
      width: 100%;
      height: 100%;
      object-position: 50% 55%; }
    .banner__menuFr img {
      width: 100%;
      height: 100%;
      object-position: 50% 70%; }
    .banner__menuDelice img {
      width: 100%;
      height: 100%;
      object-position: 50% 80%; } }
/*  ANNIMATION DE REMPLISSAGE DU COEUR */
@keyframes rempl {
  0% {
    transform: scale(0.3); }
  100% {
    transform: scale(1); } }
/* SURVOL DES BOUTONS */
/* MIXINS DE LA PAGE D'ACCUEIL */
/* MIXINS DES MENUS */
/* MIXIN DU FOOTER */
.loader {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  animation: backload 2.1s linear forwards;
  display: flex;
  justify-content: center;
  padding-top: 20%; }
  .loader__cercle {
    border: 16px solid #9356DC;
    border-top: 16px solid #FF79DA;
    border-radius: 50%;
    margin-top: 200px;
    width: 120px;
    height: 120px;
    animation: loading 2s ease-in-out forwards; }

@keyframes backload {
  0% {
    z-index: 999; }
  90% {
    opacity: 0.8; }
  99% {
    opacity: 0;
    transform: scale(2); }
  100% {
    z-index: 0;
    transform: scale(0); } }
@keyframes loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(1660deg); } }
body {
  font-family: "font-text";
  margin: 0;
  padding: 0; }

header {
  font-family: "font-title";
  font-size: 30px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px; }

.search__location {
  background-color: #eeeeee;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: inset 0 3px 5px #c5c5c5; }
  .search__location__label {
    color: rgba(0, 0, 0, 0.788);
    margin-right: -5px; }
  .search__location__input {
    font-family: "font-bold";
    font-weight: lighter;
    font-size: 95%;
    border: 0;
    outline: 0;
    color: black;
    background: transparent;
    text-align: center;
    width: 150px; }
    .search__location__input::placeholder {
      padding-left: 15px;
      text-align: start;
      width: 50px;
      color: rgba(0, 0, 0, 0.788); }
.search__reserv {
  padding-top: 15px;
  padding-bottom: 40px;
  text-align: center;
  background-color: rgba(241, 240, 240, 0.719); }
  .search__reserv__title {
    font-family: "font-bold";
    font-size: 24px;
    padding: 0px 70px 0 70px; }
  .search__reserv__descript {
    font-size: 17px;
    padding: 0 15px 0 15px;
    font-family: "font-thin"; }
  .search__reserv__btn {
    margin-top: 15px;
    border: 0;
    border-radius: 30px;
    padding: 15px 25px 15px 25px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.233);
    color: white; }
  .search__reserv a {
    text-decoration: none;
    color: white; }
  .search__reserv button:hover {
    opacity: 0.8;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.637); }

.operation {
  padding-bottom: 20px; }
  .operation__title {
    font-family: "font-bold";
    font-size: 22px;
    padding-top: 40px;
    padding-left: 20px; }
  .operation__choix {
    position: relative; }
    .operation__choix .case {
      background-color: rgba(241, 240, 240, 0.719);
      border-radius: 25px;
      box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.123);
      font-weight: 800;
      padding: 25px 10px 25px 30px;
      margin-left: 25px;
      margin-right: 15px;
      margin-bottom: 25px; }
      .operation__choix .case i {
        color: rgba(0, 0, 0, 0.705);
        padding-right: 25px;
        font-size: 20px; }
    .operation__choix .num {
      color: white;
      font-size: 14px;
      text-align: center;
      background-color: #9356DC;
      padding: 3px;
      width: 17px;
      border-radius: 20px;
      position: absolute;
      top: 25px;
      left: 14px; }
    .operation__choix div:hover {
      opacity: 0.8;
      box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.637); }
  .operation__compo {
    position: relative; }
    .operation__compo .case {
      background-color: rgba(241, 240, 240, 0.719);
      border-radius: 25px;
      box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.123);
      font-weight: 800;
      padding: 25px 10px 25px 30px;
      margin-left: 25px;
      margin-right: 15px;
      margin-bottom: 25px; }
      .operation__compo .case i {
        color: rgba(0, 0, 0, 0.705);
        padding-right: 25px;
        font-size: 20px; }
    .operation__compo .num {
      color: white;
      font-size: 14px;
      text-align: center;
      background-color: #9356DC;
      padding: 3px;
      width: 17px;
      border-radius: 20px;
      position: absolute;
      top: 25px;
      left: 14px; }
    .operation__compo div:hover {
      opacity: 0.8;
      box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.637); }
  .operation__degust {
    position: relative; }
    .operation__degust .caseColor {
      background-color: rgba(241, 240, 240, 0.719);
      border-radius: 25px;
      box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.123);
      font-weight: 800;
      padding: 25px 10px 25px 30px;
      margin-left: 25px;
      margin-right: 15px;
      margin-bottom: 25px;
      background-color: rgba(147, 86, 220, 0.2); }
      .operation__degust .caseColor i {
        color: rgba(0, 0, 0, 0.705);
        padding-right: 25px;
        font-size: 20px; }
      .operation__degust .caseColor i {
        color: #9356DC; }
    .operation__degust .numColor {
      color: white;
      font-size: 14px;
      text-align: center;
      background-color: #9356DC;
      padding: 3px;
      width: 17px;
      border-radius: 20px;
      position: absolute;
      top: 25px;
      left: 14px; }
    .operation__degust div:hover {
      opacity: 0.8;
      box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.637); }

.restau {
  background-color: rgba(241, 240, 240, 0.719);
  padding-bottom: 35px; }
  .restau a {
    text-decoration: none;
    color: black; }
  .restau__title {
    font-family: "font-bold";
    font-size: 22px;
    padding-top: 40px;
    padding-left: 20px; }
  .restau__palette {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.233);
    position: relative; }
    .restau__palette img {
      width: 100%;
      height: 200px;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
      object-position: 50% 80%; }
    .restau__palette .gras {
      font-family: "font-bold";
      margin-left: 20px; }
    .restau__palette .thin {
      font-family: "font-thin";
      margin-left: 20px;
      margin-top: -12px;
      padding-bottom: 10px; }
    .restau__palette i {
      position: absolute;
      right: 30px;
      bottom: 20px;
      font-size: 25px; }
    .restau__palette .lock:hover #lock,
    .restau__palette .lock #unlock {
      display: none;
      background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .restau__palette .lock:hover #unlock {
      animation: rempl 2s ease-in-out 0s forwards;
      transform-origin: center;
      display: inline; }
    .restau__palette:hover {
      opacity: 0.5;
      box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.938); }
  .restau__note {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.233);
    position: relative; }
    .restau__note img {
      width: 100%;
      height: 200px;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
      object-position: 50% 80%; }
    .restau__note .gras {
      font-family: "font-bold";
      margin-left: 20px; }
    .restau__note .thin {
      font-family: "font-thin";
      margin-left: 20px;
      margin-top: -12px;
      padding-bottom: 10px; }
    .restau__note i {
      position: absolute;
      right: 30px;
      bottom: 20px;
      font-size: 25px; }
    .restau__note .lock:hover #lock,
    .restau__note .lock #unlock {
      display: none;
      background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .restau__note .lock:hover #unlock {
      animation: rempl 2s ease-in-out 0s forwards;
      transform-origin: center;
      display: inline; }
    .restau__note:hover {
      opacity: 0.5;
      box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.938); }
    .restau__note img {
      object-position: 50% 60%; }
  .restau__fr {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.233);
    position: relative; }
    .restau__fr img {
      width: 100%;
      height: 200px;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
      object-position: 50% 80%; }
    .restau__fr .gras {
      font-family: "font-bold";
      margin-left: 20px; }
    .restau__fr .thin {
      font-family: "font-thin";
      margin-left: 20px;
      margin-top: -12px;
      padding-bottom: 10px; }
    .restau__fr i {
      position: absolute;
      right: 30px;
      bottom: 20px;
      font-size: 25px; }
    .restau__fr .lock:hover #lock,
    .restau__fr .lock #unlock {
      display: none;
      background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .restau__fr .lock:hover #unlock {
      animation: rempl 2s ease-in-out 0s forwards;
      transform-origin: center;
      display: inline; }
    .restau__fr:hover {
      opacity: 0.5;
      box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.938); }
  .restau__delice {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.233);
    position: relative; }
    .restau__delice img {
      width: 100%;
      height: 200px;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
      object-position: 50% 80%; }
    .restau__delice .gras {
      font-family: "font-bold";
      margin-left: 20px; }
    .restau__delice .thin {
      font-family: "font-thin";
      margin-left: 20px;
      margin-top: -12px;
      padding-bottom: 10px; }
    .restau__delice i {
      position: absolute;
      right: 30px;
      bottom: 20px;
      font-size: 25px; }
    .restau__delice .lock:hover #lock,
    .restau__delice .lock #unlock {
      display: none;
      background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .restau__delice .lock:hover #unlock {
      animation: rempl 2s ease-in-out 0s forwards;
      transform-origin: center;
      display: inline; }
    .restau__delice:hover {
      opacity: 0.5;
      box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.938); }

.foot {
  background-color: rgba(0, 0, 0, 0.788);
  color: white;
  padding: 10px 20px 20px 25px; }
  .foot__title {
    font-family: "mfont-title";
    font-size: 18px; }
  .foot__parag {
    line-height: 28px; }
    .foot__parag a {
      text-decoration: none;
      color: white; }
  .foot i {
    padding-right: 10px; }
  .foot__title {
    font-family: "font-title"; }

/*# sourceMappingURL=style.css.map */
