@import "../variables";
@import "../media";
@import "../mixin-index.scss";

.loader {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    animation: backload 2.1s linear forwards;
    display: flex;
    justify-content: center;
    padding-top: 20%;
    &__cercle{
    border: 16px solid $primaire;
    border-top: 16px solid $secondaire; 
    border-radius: 50%;
    margin-top: 200px;
    width: 120px;
    height: 120px;
    animation: loading 2s ease-in-out forwards;
    }
  }
  @keyframes backload{
      0%{
        z-index: 999;}
        90%{
            opacity: 0.8;
        }
      99%{opacity: 0;
        transform: scale(2);
    }
      100%{
        z-index: 0;
        transform: scale(0);
}
  }
  @keyframes loading {
    0% { transform: rotate(0deg);
     }
    99%{
    }
    100% { transform: rotate(1660deg);
    }
  }

body{
    font-family: "font-text";
    margin: 0;
    padding: 0;
}
header{
    font-family: "font-title";
    font-size: 30px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.search{
    
    &__lieu{
        background-color: rgb(238, 238, 238);
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: inset 0 3px 5px #c5c5c5;;
        &__label{
            color: $grey-dark;
            margin-right: -5px;
         }
        &__input{
            font-family: "font-bold";
            font-weight: lighter;
            font-size: 95%;
            border: 0;
            outline: 0;
            color: black;
            background: transparent;
            text-align: center;
            width: 150px;
            &::placeholder {
            padding-left: 15px;
            text-align: start;
            width: 50px;
            color: $grey-dark;
            }
        }
    }
    &__reserv{
        padding-top: 15px;
        padding-bottom: 40px;
        text-align: center;
        background-color: $grey-light;
        &__titre{
            font-family: "font-bold";
            font-size: 24px;
            padding: 0px 70px 0 70px;
        }
        &__descript{
            font-size: 17px;
            padding: 0 15px 0 15px;
            font-family: "font-thin";
        }
        &__btn{
            margin-top: 15px;
            border: 0;
            border-radius: 30px;
            padding: 15px 25px 15px 25px;
            background: linear-gradient(to bottom right,$secondaire, $primaire);
            box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.233);
            color: white;
        }
        a{
            text-decoration:none ;
            color: white;
        }
        button:hover{
            @include hoverbut;
        }
    }
}

.fonctionnement{
    padding-bottom: 20px;
    &__titre{
        @include titre-home;
    }
    &__choix{
        position: relative;
        .case1{
          @include case;
        }
        .num1{
            @include num;
        }
       div:hover{
        @include hoverbut;
        }
    }
    &__compo{
        position: relative;
        .case2{
        @include case;
        }
        .num2{
            @include num;
        }
        div:hover{
            @include hoverbut;
            }
    }
    &__degust{
        position: relative;
        .case3{
            @include case;
            background-color: $primaire-opacity2;
            i{
                color: $primaire;
            }
        }
        .num3{
            @include num;
        }
        div:hover{
            @include hoverbut;
            }
    }
}

.restau{
    background-color: $grey-light;
    padding-bottom: 35px;
    a{
        text-decoration: none;
        color: black
    }
    &__titre{
        @include titre-home;
    }
    &__palette{
        @include vignette;
    }
    &__note{
        @include vignette;
        img{
            object-position: 50% 60%;
        }
    }
    &__fr{
        @include vignette;
    }
    &__delice{
        @include vignette;

    }
}
.foot{
  @include foot;
}