@import "../variables";
@import "../mixin-index.scss";
@import "../media";

@keyframes rempl{
        0% {
            transform: scale(0.3);
           
        }
        100% {
            transform: scale(1);
            
        }
    }
@keyframes opac{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@include headermenu;

.menu{
    z-index: 2;
    position: relative;
    margin-top: -30px;
    border-radius: 30px 30px 0 0;
    background-color: #F2F2F2;
    &__title{
      @include titlemenu;
    }
    
    &__starter{
        margin: 0 20px 0 20px;
        &__title{
            @include titlemaj;
        }
        &__one {
            @include thumb;
            animation-delay: 0.5s;
          }

          &__two {
            @include thumb;
            animation-delay: 1s;
          }

          &__three {
            @include thumb;
            animation-delay: 1.5s;
          }
          &__four {
            @include thumb;
            animation-delay: 2s;
          }
    }
    &__dish{
        margin: 30px 20px 0 20px;
        &__title{
            @include titlemaj;
        }
        &__one {
            @include thumb;
            animation-delay: 0.5s;
          }

          &__two {
            @include thumb;
            animation-delay: 1s;
          }

          &__three {
            @include thumb;
            animation-delay: 1.5s;
          }
    }
    &__dessert{
        margin: 30px 20px 0px 20px;
        padding-bottom: 20px;
        &__title{
           @include titlemaj;
        }
        &__one {
            @include thumb;
            animation-delay: 0.5s;
          }

          &__two {
            @include thumb;
            animation-delay: 1s;
          }

          &__three {
            @include thumb;
            animation-delay: 1.5s;
          }
    }
}

.order{
  @include order
}

.foot{
  @include foot
}