@font-face {
  font-family: "font-title";
  src: url("/polices/Shrikhand/Shrikhand-Regular.ttf"); }
@font-face {
  font-family: "font-text";
  src: url("/polices/Roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: "font-bold";
  src: url("/polices/Roboto/Roboto-Bold.ttf"); }
@font-face {
  font-family: "font-light";
  src: url("/polices/Roboto/Roboto-Light.ttf"); }
@font-face {
  font-family: "font-thin";
  src: url("/polices/Roboto/Roboto-Thin.ttf"); }
@keyframes rempl {
  0% {
    transform: scale(0.3); }
  100% {
    transform: scale(1); } }
@media only screen and (min-device-width: 768px) {
  body header {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px; }

  .fonctionnement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .fonctionnement__titre {
      width: 100%;
      margin-top: 0px;
      padding-bottom: 20px; }
    .fonctionnement div {
      width: 250px; }

  .restau {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .restau__titre {
      width: 100%; }
    .restau article {
      width: 340px;
      margin-bottom: 50px; }

  .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around; }
    .menu__title {
      width: 100%; }
      .menu__title p {
        width: 100%; }
    .menu__starter {
      width: 345px;
      padding-top: 30px; }
    .menu__dish {
      width: 345px; }
    .menu__dessert {
      width: 345px; }

  .pic {
    height: 500px; }
    .pic img {
      width: 100%;
      height: 100%;
      object-position: 50% 50%; }
    .pic__m2 img {
      width: 100%;
      height: 100%;
      object-position: 50% 55%; }
    .pic__m3 img {
      width: 100%;
      height: 100%;
      object-position: 50% 70%; }
    .pic__m4 img {
      width: 100%;
      height: 100%;
      object-position: 50% 80%; } }
@keyframes rempl {
  0% {
    transform: scale(0.3); }
  100% {
    transform: scale(1); } }
@keyframes opac {
  from {
    opacity: 0;
    transform: translateY(20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
body {
  font-family: "font-light";
  margin: 0;
  padding: 0; }

header {
  font-family: "font-title", Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative; }
  header i {
    color: rgba(0, 0, 0, 0.788);
    font-size: 25px;
    position: absolute;
    left: 15px;
    top: 15px; }

.pic {
  z-index: 1; }
  .pic img {
    width: 100%;
    object-fit: cover; }
  .pic__m2 {
    height: 400px; }

.menu {
  z-index: 2;
  position: relative;
  margin-top: -30px;
  border-radius: 30px 30px 0 0;
  background-color: #F2F2F2; }
  .menu__title {
    border: 1px solid transparent;
    font-family: "font-title", Arial, Helvetica, sans-serif;
    font-size: 28px;
    padding-left: 20px; }
    .menu__title .lock {
      text-decoration: none;
      color: black;
      position: relative;
      padding-left: 30px; }
      .menu__title .lock i {
        position: absolute;
        top: 5px;
        left: 37px; }
    .menu__title .lock:hover #lock1,
    .menu__title .lock #unlock1 {
      display: none;
      background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .menu__title .lock:hover #unlock1 {
      animation: rempl 2s ease-in-out 0s forwards;
      transform-origin: center;
      display: inline; }
  .menu__starter {
    margin: 0 20px 0 20px; }
    .menu__starter__title {
      font-family: "font-thin";
      border-bottom: 2px solid #99E2D0;
      padding-bottom: 5px;
      width: 50px; }
    .menu__starter__1 {
      display: flex;
      margin-top: 15px;
      overflow: hidden;
      cursor: pointer;
      border-radius: 20px;
      opacity: 0;
      animation: opac 2s ease-in-out forwards;
      animation-delay: 0.5s; }
      .menu__starter__1__txt {
        padding-top: 4px;
        flex-grow: 1;
        width: 40px;
        background: white;
        padding-left: 5px; }
        .menu__starter__1__txt p,
        .menu__starter__1__txt h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 8px; }
        .menu__starter__1__txt h4 {
          font-family: "font-bold"; }
      .menu__starter__1 .price {
        width: 30px;
        background: white;
        margin: 0;
        padding-right: 10px;
        padding-top: 22px;
        padding-bottom: 0;
        font-family: "font-bold"; }
      .menu__starter__1 .box {
        display: flex;
        width: 0;
        transition: all 1s;
        background-color: #99E2D0; }
        .menu__starter__1 .box__check {
          margin: auto;
          color: white;
          border-radius: 50%;
          font-size: 25px;
          background-color: #99E2D0;
          transition: transform 1s;
          transform: rotate(180deg); }
      .menu__starter__1:hover > .box {
        width: 80px; }
        .menu__starter__1:hover > .box .box__check {
          transform: rotate(0deg); }
    .menu__starter__2 {
      display: flex;
      margin-top: 15px;
      overflow: hidden;
      cursor: pointer;
      border-radius: 20px;
      opacity: 0;
      animation: opac 2s ease-in-out forwards;
      animation-delay: 1s; }
      .menu__starter__2__txt {
        padding-top: 4px;
        flex-grow: 1;
        width: 40px;
        background: white;
        padding-left: 5px; }
        .menu__starter__2__txt p,
        .menu__starter__2__txt h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 8px; }
        .menu__starter__2__txt h4 {
          font-family: "font-bold"; }
      .menu__starter__2 .price {
        width: 30px;
        background: white;
        margin: 0;
        padding-right: 10px;
        padding-top: 22px;
        padding-bottom: 0;
        font-family: "font-bold"; }
      .menu__starter__2 .box {
        display: flex;
        width: 0;
        transition: all 1s;
        background-color: #99E2D0; }
        .menu__starter__2 .box__check {
          margin: auto;
          color: white;
          border-radius: 50%;
          font-size: 25px;
          background-color: #99E2D0;
          transition: transform 1s;
          transform: rotate(180deg); }
      .menu__starter__2:hover > .box {
        width: 80px; }
        .menu__starter__2:hover > .box .box__check {
          transform: rotate(0deg); }
    .menu__starter__3 {
      display: flex;
      margin-top: 15px;
      overflow: hidden;
      cursor: pointer;
      border-radius: 20px;
      opacity: 0;
      animation: opac 2s ease-in-out forwards;
      animation-delay: 1.5s; }
      .menu__starter__3__txt {
        padding-top: 4px;
        flex-grow: 1;
        width: 40px;
        background: white;
        padding-left: 5px; }
        .menu__starter__3__txt p,
        .menu__starter__3__txt h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 8px; }
        .menu__starter__3__txt h4 {
          font-family: "font-bold"; }
      .menu__starter__3 .price {
        width: 30px;
        background: white;
        margin: 0;
        padding-right: 10px;
        padding-top: 22px;
        padding-bottom: 0;
        font-family: "font-bold"; }
      .menu__starter__3 .box {
        display: flex;
        width: 0;
        transition: all 1s;
        background-color: #99E2D0; }
        .menu__starter__3 .box__check {
          margin: auto;
          color: white;
          border-radius: 50%;
          font-size: 25px;
          background-color: #99E2D0;
          transition: transform 1s;
          transform: rotate(180deg); }
      .menu__starter__3:hover > .box {
        width: 80px; }
        .menu__starter__3:hover > .box .box__check {
          transform: rotate(0deg); }
    .menu__starter__4 {
      display: flex;
      margin-top: 15px;
      overflow: hidden;
      cursor: pointer;
      border-radius: 20px;
      opacity: 0;
      animation: opac 2s ease-in-out forwards;
      animation-delay: 2s; }
      .menu__starter__4__txt {
        padding-top: 4px;
        flex-grow: 1;
        width: 40px;
        background: white;
        padding-left: 5px; }
        .menu__starter__4__txt p,
        .menu__starter__4__txt h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 8px; }
        .menu__starter__4__txt h4 {
          font-family: "font-bold"; }
      .menu__starter__4 .price {
        width: 30px;
        background: white;
        margin: 0;
        padding-right: 10px;
        padding-top: 22px;
        padding-bottom: 0;
        font-family: "font-bold"; }
      .menu__starter__4 .box {
        display: flex;
        width: 0;
        transition: all 1s;
        background-color: #99E2D0; }
        .menu__starter__4 .box__check {
          margin: auto;
          color: white;
          border-radius: 50%;
          font-size: 25px;
          background-color: #99E2D0;
          transition: transform 1s;
          transform: rotate(180deg); }
      .menu__starter__4:hover > .box {
        width: 80px; }
        .menu__starter__4:hover > .box .box__check {
          transform: rotate(0deg); }
  .menu__dish {
    margin: 30px 20px 0 20px; }
    .menu__dish__title {
      font-family: "font-thin";
      border-bottom: 2px solid #99E2D0;
      padding-bottom: 5px;
      width: 50px; }
    .menu__dish__1 {
      display: flex;
      margin-top: 15px;
      overflow: hidden;
      cursor: pointer;
      border-radius: 20px;
      opacity: 0;
      animation: opac 2s ease-in-out forwards;
      animation-delay: 0.5s; }
      .menu__dish__1__txt {
        padding-top: 4px;
        flex-grow: 1;
        width: 40px;
        background: white;
        padding-left: 5px; }
        .menu__dish__1__txt p,
        .menu__dish__1__txt h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 8px; }
        .menu__dish__1__txt h4 {
          font-family: "font-bold"; }
      .menu__dish__1 .price {
        width: 30px;
        background: white;
        margin: 0;
        padding-right: 10px;
        padding-top: 22px;
        padding-bottom: 0;
        font-family: "font-bold"; }
      .menu__dish__1 .box {
        display: flex;
        width: 0;
        transition: all 1s;
        background-color: #99E2D0; }
        .menu__dish__1 .box__check {
          margin: auto;
          color: white;
          border-radius: 50%;
          font-size: 25px;
          background-color: #99E2D0;
          transition: transform 1s;
          transform: rotate(180deg); }
      .menu__dish__1:hover > .box {
        width: 80px; }
        .menu__dish__1:hover > .box .box__check {
          transform: rotate(0deg); }
    .menu__dish__2 {
      display: flex;
      margin-top: 15px;
      overflow: hidden;
      cursor: pointer;
      border-radius: 20px;
      opacity: 0;
      animation: opac 2s ease-in-out forwards;
      animation-delay: 1s; }
      .menu__dish__2__txt {
        padding-top: 4px;
        flex-grow: 1;
        width: 40px;
        background: white;
        padding-left: 5px; }
        .menu__dish__2__txt p,
        .menu__dish__2__txt h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 8px; }
        .menu__dish__2__txt h4 {
          font-family: "font-bold"; }
      .menu__dish__2 .price {
        width: 30px;
        background: white;
        margin: 0;
        padding-right: 10px;
        padding-top: 22px;
        padding-bottom: 0;
        font-family: "font-bold"; }
      .menu__dish__2 .box {
        display: flex;
        width: 0;
        transition: all 1s;
        background-color: #99E2D0; }
        .menu__dish__2 .box__check {
          margin: auto;
          color: white;
          border-radius: 50%;
          font-size: 25px;
          background-color: #99E2D0;
          transition: transform 1s;
          transform: rotate(180deg); }
      .menu__dish__2:hover > .box {
        width: 80px; }
        .menu__dish__2:hover > .box .box__check {
          transform: rotate(0deg); }
    .menu__dish__3 {
      display: flex;
      margin-top: 15px;
      overflow: hidden;
      cursor: pointer;
      border-radius: 20px;
      opacity: 0;
      animation: opac 2s ease-in-out forwards;
      animation-delay: 1.5s; }
      .menu__dish__3__txt {
        padding-top: 4px;
        flex-grow: 1;
        width: 40px;
        background: white;
        padding-left: 5px; }
        .menu__dish__3__txt p,
        .menu__dish__3__txt h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 8px; }
        .menu__dish__3__txt h4 {
          font-family: "font-bold"; }
      .menu__dish__3 .price {
        width: 30px;
        background: white;
        margin: 0;
        padding-right: 10px;
        padding-top: 22px;
        padding-bottom: 0;
        font-family: "font-bold"; }
      .menu__dish__3 .box {
        display: flex;
        width: 0;
        transition: all 1s;
        background-color: #99E2D0; }
        .menu__dish__3 .box__check {
          margin: auto;
          color: white;
          border-radius: 50%;
          font-size: 25px;
          background-color: #99E2D0;
          transition: transform 1s;
          transform: rotate(180deg); }
      .menu__dish__3:hover > .box {
        width: 80px; }
        .menu__dish__3:hover > .box .box__check {
          transform: rotate(0deg); }
  .menu__dessert {
    margin: 30px 20px 0px 20px;
    padding-bottom: 20px; }
    .menu__dessert__title {
      font-family: "font-thin";
      border-bottom: 2px solid #99E2D0;
      padding-bottom: 5px;
      width: 50px; }
    .menu__dessert__1 {
      display: flex;
      margin-top: 15px;
      overflow: hidden;
      cursor: pointer;
      border-radius: 20px;
      opacity: 0;
      animation: opac 2s ease-in-out forwards;
      animation-delay: 0.5s; }
      .menu__dessert__1__txt {
        padding-top: 4px;
        flex-grow: 1;
        width: 40px;
        background: white;
        padding-left: 5px; }
        .menu__dessert__1__txt p,
        .menu__dessert__1__txt h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 8px; }
        .menu__dessert__1__txt h4 {
          font-family: "font-bold"; }
      .menu__dessert__1 .price {
        width: 30px;
        background: white;
        margin: 0;
        padding-right: 10px;
        padding-top: 22px;
        padding-bottom: 0;
        font-family: "font-bold"; }
      .menu__dessert__1 .box {
        display: flex;
        width: 0;
        transition: all 1s;
        background-color: #99E2D0; }
        .menu__dessert__1 .box__check {
          margin: auto;
          color: white;
          border-radius: 50%;
          font-size: 25px;
          background-color: #99E2D0;
          transition: transform 1s;
          transform: rotate(180deg); }
      .menu__dessert__1:hover > .box {
        width: 80px; }
        .menu__dessert__1:hover > .box .box__check {
          transform: rotate(0deg); }
    .menu__dessert__2 {
      display: flex;
      margin-top: 15px;
      overflow: hidden;
      cursor: pointer;
      border-radius: 20px;
      opacity: 0;
      animation: opac 2s ease-in-out forwards;
      animation-delay: 1s; }
      .menu__dessert__2__txt {
        padding-top: 4px;
        flex-grow: 1;
        width: 40px;
        background: white;
        padding-left: 5px; }
        .menu__dessert__2__txt p,
        .menu__dessert__2__txt h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 8px; }
        .menu__dessert__2__txt h4 {
          font-family: "font-bold"; }
      .menu__dessert__2 .price {
        width: 30px;
        background: white;
        margin: 0;
        padding-right: 10px;
        padding-top: 22px;
        padding-bottom: 0;
        font-family: "font-bold"; }
      .menu__dessert__2 .box {
        display: flex;
        width: 0;
        transition: all 1s;
        background-color: #99E2D0; }
        .menu__dessert__2 .box__check {
          margin: auto;
          color: white;
          border-radius: 50%;
          font-size: 25px;
          background-color: #99E2D0;
          transition: transform 1s;
          transform: rotate(180deg); }
      .menu__dessert__2:hover > .box {
        width: 80px; }
        .menu__dessert__2:hover > .box .box__check {
          transform: rotate(0deg); }
    .menu__dessert__3 {
      display: flex;
      margin-top: 15px;
      overflow: hidden;
      cursor: pointer;
      border-radius: 20px;
      opacity: 0;
      animation: opac 2s ease-in-out forwards;
      animation-delay: 1.5s; }
      .menu__dessert__3__txt {
        padding-top: 4px;
        flex-grow: 1;
        width: 40px;
        background: white;
        padding-left: 5px; }
        .menu__dessert__3__txt p,
        .menu__dessert__3__txt h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 8px; }
        .menu__dessert__3__txt h4 {
          font-family: "font-bold"; }
      .menu__dessert__3 .price {
        width: 30px;
        background: white;
        margin: 0;
        padding-right: 10px;
        padding-top: 22px;
        padding-bottom: 0;
        font-family: "font-bold"; }
      .menu__dessert__3 .box {
        display: flex;
        width: 0;
        transition: all 1s;
        background-color: #99E2D0; }
        .menu__dessert__3 .box__check {
          margin: auto;
          color: white;
          border-radius: 50%;
          font-size: 25px;
          background-color: #99E2D0;
          transition: transform 1s;
          transform: rotate(180deg); }
      .menu__dessert__3:hover > .box {
        width: 80px; }
        .menu__dessert__3:hover > .box .box__check {
          transform: rotate(0deg); }

.foot {
  background-color: rgba(0, 0, 0, 0.788);
  color: white;
  padding: 10px 20px 20px 25px; }
  .foot__titre {
    font-family: "font-title";
    font-size: 18px; }
  .foot__parag {
    line-height: 28px; }
    .foot__parag a {
      text-decoration: none;
      color: white; }
  .foot i {
    padding-right: 10px; }

/*# sourceMappingURL=style2.css.map */
