@font-face {
  font-family: "font-title";
  src: url("/polices/Shrikhand/Shrikhand-Regular.ttf"); }
@font-face {
  font-family: "font-text";
  src: url("/polices/Roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: "font-bold";
  src: url("/polices/Roboto/Roboto-Bold.ttf"); }
@font-face {
  font-family: "font-light";
  src: url("/polices/Roboto/Roboto-Light.ttf"); }
@font-face {
  font-family: "font-thin";
  src: url("/polices/Roboto/Roboto-Thin.ttf"); }
@keyframes opac {
  from {
    opacity: 0;
    transform: translateY(20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
body {
  font-family: "font-light";
  margin: 0;
  padding: 0; }

header {
  font-family: "font-title", Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative; }
  header i {
    color: rgba(0, 0, 0, 0.788);
    font-size: 25px;
    position: absolute;
    left: 15px;
    top: 15px; }

.pic {
  z-index: 1; }
  .pic img {
    width: 100%;
    object-fit: cover; }

.palette {
  z-index: 2;
  position: relative;
  margin-top: -30px;
  border-radius: 30px 30px 0 0;
  background-color: #F2F2F2; }
  .palette__titre {
    border: 1px solid transparent;
    font-family: "font-title", Arial, Helvetica, sans-serif;
    font-size: 28px;
    padding-left: 20px; }
    .palette__titre .lock {
      text-decoration: none;
      color: black;
      position: relative;
      padding-left: 30px; }
      .palette__titre .lock #lock1 {
        position: absolute;
        top: 5px;
        left: 37px; }
    .palette__titre .lock:hover #lock1,
    .palette__titre .lock #unlock1 {
      display: none;
      background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .palette__titre .lock:hover #unlock1 {
      display: inline; }
  .palette__entree {
    border: 1px solid blue;
    margin: 0 20px 0 20px; }
    .palette__entree__titre {
      font-family: "font-thin";
      border-bottom: 2px solid #99E2D0;
      padding-bottom: 5px;
      width: 50px; }
    .palette__entree__frica {
      border: 1px solid green;
      box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.233);
      margin-top: 10px;
      border-radius: 20px;
      background-color: white;
      padding-left: 10px;
      opacity: 0;
      animation: opac 2s ease-in-out 1s forwards; }
      .palette__entree__frica .bold, .palette__entree__frica span {
        font-family: "font-bold"; }
      .palette__entree__frica:active {
        background-color: blueviolet; }
    .palette__entree__foie {
      border: 1px solid green;
      box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.233);
      margin-top: 10px;
      border-radius: 20px;
      background-color: white;
      padding-left: 10px;
      opacity: 0;
      animation: opac 2s ease-in-out 1.5s forwards; }
      .palette__entree__foie .bold, .palette__entree__foie span {
        font-family: "font-bold"; }
    .palette__entree__ouef {
      border: 1px solid green;
      box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.233);
      margin-top: 10px;
      border-radius: 20px;
      background-color: white;
      padding-left: 10px;
      opacity: 0;
      animation: opac 2s ease-in-out 2s forwards; }
      .palette__entree__ouef .bold, .palette__entree__ouef span {
        font-family: "font-bold"; }

.foot {
  background-color: rgba(0, 0, 0, 0.788);
  color: white;
  padding: 10px 20px 20px 25px; }
  .foot__titre {
    font-family: "font-title";
    font-size: 18px; }
  .foot__parag {
    line-height: 28px; }
    .foot__parag a {
      text-decoration: none;
      color: white; }
  .foot i {
    padding-right: 10px; }

/*# sourceMappingURL=style1.css.map */
