@import "../utils/variables";

@font-face{
    font-family: "font-title";
    src: url("../polices/Shrikhand/Shrikhand-Regular.ttf");
}

body{
    font-family: "font-text";
    margin: 0;
    padding: 0;
    }

header{
    font-family: "font-title", Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    i{
        color: $grey-dark;
        font-size: 25px;
        position: absolute;
        left: 15px;
        top: 15px;
    }
}
.pic{
    img{
    width: 100%;
    object-fit: cover;
}}
